@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

*:focus { outline: none !important }

html,
body {
	margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: #2EC9FF;
}

.navbar-brand {
    color: #fff !important;
    font-weight: 700;
}

.recipe-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
@media (max-width: 580px) {
    .recipe-list {
      display: block;
    }
}

.recipe-card {
	width: 20%;
	min-width: 240px;
	margin: 1%;
	border: 1px solid rgba(160,160,160,0.2);
	background: white;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

@media (max-width: 580px) {
    .recipe-card {
        width: 100%;
    }
}
  
.recipe-card-content {
	padding: 16px;
}
  
  
.recipe-card-image {
	overflow: hidden;
	height: 50%;
}
  
.recipe-card img {
	width: 100%;
	max-height: 250px;
}
  
.recipe-title {
	margin: 0;
}

.recipe-text {
    margin-top: 1em;
}

a {
    display: flex;
    justify-content: center;
}

.recipe-show {
    width: 100%;
    margin-top: 2em;
    border: 1px solid rgba(160,160,160,0.2);
	background: white;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.recipe-show img {
    height: 35em;
}